body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1;
    user-select: none;
    overscroll-behavior: none;
}

.container {
    position: fixed;
    width: 240px;
    height: inherit;
    background: #e9ecef;
    top: 50%;
    left: 50%;
    margin: -120px 0 0 -120px;
    padding: 20px;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
    z-index: 1;
    opacity: 0.9;
    line-height: initial;
}

.container div {
    text-align: center;
    font-size: 3rem;
}

.container h1 {
    font-size: 1.8em;
    text-align: center;
    color: #111;
    margin: 0;
}

.container h2 {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
}

.container a {
    width: 100%;
    text-align: center;
    line-height: 36px;
    background: #fff;
    margin-top: 10px;
    color: #222;
    border-radius: 4px;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    transition-duration: 0.1s;
    text-decoration: none;
}

.container a:hover {
    transition: ease-in color;
    background: #222;
    color: #fff
}

.fireworks-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000000;
}

#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    z-index: 2 !important;
}

.fireworks-counters {
    background: #000022;
    position: fixed;
    top: 53px;
    left: 5px;
    width: 80px;
    color: #13E8E9;
    font-size: 11px;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    border-radius: 0 0 3px 3px;
    opacity: 0.9;
    z-index: 2;
    user-select: none;
}

.dg.ac {
    opacity: 0.9;
    z-index: 2 !important;
}

.dg.a {
    margin-right: 5px !important;
    margin-top: 5px;
}

.cr.function>div>span {
    width: 100%;
}

.fireworks-container>canvas {
    cursor: crosshair;
}